<header class="sticky top-0 z-50 flex justify-between items-center py-5 px-5 w-full xl:w-[1120px] mx-auto bg-white/80">
    <img class="h-14" src="/Logo.png" alt="Logo">
    <nav class="flex flex-row gap-x-10 opacity-80 text-lg">
      <a href="/">Home</a>
      <a href="#informacion">Información</a>
      <a href="#galeria">Galería</a>
      <a href="#descarga">Descarga</a>
    </nav>
  </header>