<header class="sticky top-0 z-50 flex justify-center items-center py-5 px-5 w-full mx-auto bg-white/80">
    <nav class="flex flex-row gap-x-10 opacity-80 text-xs md:text-lg">
      <a href="#home">Home</a>
      <a href="#informacion">Información</a>
      <a href="#galeria">Galería</a>
      <a href="#descarga">Descarga</a>
    </nav>
  </header>